.button {
    background-color: olivedrab;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 2px;
    padding: 5px;
    color: aliceblue;
    border-radius: 7px 7px 7px 7px;
    border: 2px solid aliceblue;
    cursor: pointer;
}

.logoutButton {
    background-color: red;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 2px;
    padding: 5px;
    color: aliceblue;
    border-radius: 7px 7px 7px 7px;
    border: 2px solid aliceblue;
    cursor: pointer;
}
