
.loginForm {
    background-color: lightseagreen;
    padding: 30px;
    padding-bottom: 70px;
    align-content: center;
    color: aliceblue;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    margin-top: 30px;
    max-width: 200px;
}

.loginButton {
    background-color: darkgoldenrod;
    text-decoration: none;
    float: left;
    margin-top: 20px;
    padding: 5px;
    color: aliceblue;
    border-radius: 7px 7px 7px 7px;
    border: 2px solid aliceblue;
    cursor: pointer;
}

.registerButton {
    background-color: olivedrab;
    text-decoration: none;
    float: right;
    margin-top: 20px;
    padding: 5px;
    color: aliceblue;
    border-radius: 7px 7px 7px 7px;
    border: 2px solid aliceblue;
    cursor: pointer;
}

input:focus {
    background-color: gold;
}