tr {
    background-color: tan;
    text-align: center;
}

td {
    background-color: gold;
    padding: 10px;
}

th {
    background-color: mediumspringgreen;
    padding: 10px;
}

table {
    background-color: sienna;
    margin: 20px;
}